# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# Visual Studio & IDE files
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Operating System files
.DS_Store
Thumbs.db
[Dd]esktop.ini

# Packages
*.nupkg
